<p id="notice"><%= notice %></p>

<h1>ForumFun</h1>

<%= button_to 'New Post', new_post_path, method: "get" %>

<table class="center">
  <thead>
    <tr>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr class="post">
        <td>
          <p><%= post.author %> | <%= post.created_at.to_date %></p>

          <%= link_to post do %>
            <div>
                <h3><%= post.title %></h3>
                <% if post.image.attached? %>
                <div class="index-img">
                  <img style="height:200px" src="<%=(url_for(post.image))%>">
                </div>
                <% end %>
              <p><%= post.content %></p>
              <div class="comment-count">
                <%= post.comments.count %> comments
              </div>
            </div>
          <% end %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
